<template>
  <div class="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          ${projectStore.currentProject.name}
        </a>
      </li>
      <li>
        <i class="fa fa-${clientsOpen ? 'chevron-down' : 'chevron-right'} text-white"
          click.delegate="toggle('clientsOpen')"></i>
        <strong class="text-white" click.delegate="toggle('clientsOpen')">
          Clients
        </strong>
        <ul class="list-unstyled" show.bind="clientsOpen">
          <li repeat.for="clientApplication of projectStore.currentProject.clientApplications">
            <a href="#/mounted-project/client-applications/${clientApplication.name}">
              ${clientApplication.name}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <i class="fa fa-${logicServicesOpen ? 'chevron-down' : 'chevron-right'} text-white text-white"
          click.delegate="toggle('logicServicesOpen')"></i>
        <strong class="text-white" click.delegate="toggle('logicServicesOpen')">
          Logic Services
        </strong>
        <ul class="list-unstyled" show.bind="logicServicesOpen">
          <li repeat.for="logicService of projectStore.currentProject.logicServices">
            <a href="#/mounted-project/logic-services/${logicService.name}">
              ${logicService.name}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <i class="fa fa-${adaptersOpen ? 'chevron-down' : 'chevron-right'} text-white"
          click.delegate="toggle('adaptersOpen')"></i>
        <strong class="text-white" click.delegate="toggle('adaptersOpen')">
          Adapters
        </strong>
        <ul class="list-unstyled" show.bind="adaptersOpen">
          <li repeat.for="adapter of projectStore.currentProject.adapters">
            <a href="#/mounted-project/adapters/${adapter.name}">
              ${adapter.name}
            </a>
          </li>
        </ul>
      </li>

      <li>
        <i class="fa fa-${dataSourcesOpen ? 'chevron-down' : 'chevron-right'} text-white"
          click.delegate="toggle('dataSourcesOpen')"></i>
        <strong class="text-white" click.delegate="toggle('dataSourcesOpen')">
          Data Sources
        </strong>
        <ul class="list-unstyled" show.bind="dataSourcesOpen">
          <li repeat.for="dataSource of projectStore.currentProject.dataSources">
            <a href="#/mounted-project/data-sources/${dataSource.name}">
              ${dataSource.name}
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</template>
