<template>
  <div class="row">
    <div class="col">
      <h3>Step Six</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>${project.name}</strong>
          </li>
          <li class="list-group-item">
            ${project.description}
          </li>
          <li class="list-group-item">
            ${project.path}
          </li>
          <li class="list-group-item bg-light"
              repeat.for="clientApplication of project.clientApplications">
            ${clientApplication.name}
          </li>
          <li class="list-group-item text-white bg-info"
              repeat.for="logicService of project.logicServices">
            ${logicService.name}
          </li>
          <li class="list-group-item text-white bg-secondary"
              repeat.for="adapter of project.adapters">
            ${adapter.name}
          </li>
          <li class="list-group-item text-white bg-primary"
              repeat.for="dataSource of project.dataSources">
            ${dataSource.name}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
