<template>
  <require from="components/card-item"></require>
  <div class="row">
    <div class="col">
      <h3>Step Four</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong>Choose Client Applications</strong>
      <div class="card-columns">
        <card-item repeat.for="clientApplication of clientApplications" is-open.bind="true" is-success.bind="clientApplication.selected">
          <span slot="header">${clientApplication.name}</span>
          <label>
            <input type="checkbox" checked.bind="clientApplication.selected" disabled.bind="!clientApplication.enabled" />
            <span>${clientApplication.description}</span>
          </label>
        </card-item>
      </div>
    </div>
  </div>
</template>
