<template>
  <require from="components/card-item"></require>
  <require from="components/display-item"></require>

  <card-item is-open.bind="true">
    <span slot="header">Config File Information</span>
    <div slot="body">
      <div class="row">
        <div class="col">
          <template if.bind="!confFileExists">
            <strong>
              conf file does not exist.
            </strong>
            <button click.delegate="createConf()">Create one</button>
          </template>

          <template if.bind="confFileExists && !confFile">
            <button class="btn btn-outline-secondary" click.delegate="viewConf()">
                View conf file
            </button>
          </template>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <pre>
            <code>
              <template repeat.for="prop of project.confFile.props">
                <label>${prop.key}</label>
                <strong>${prop.value}</strong>
              </template>
            </code>
          </pre>
        </div>
      </div>
    </div>
  </card-item>
</template>
