<template>
  <div class="row">
    <div class="col">
      <template if.bind="!confFileExists">
        <strong>
          conf file does not exist.
        </strong>
        <button click.delegate="createConf()">Create one</button>
      </template>

      <template if.bind="confFileExists">
        <button click.delegate="viewConf()">View conf file</button>
      </template>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <template repeat.for="prop of confFile.props">
        <label>${prop.key}</label>
        <strong>${prop.value}</strong>
      </template>
    </div>
  </div>
</template>
