<template>
  <require from="components/card-item"></require>
  <card-item is-open.bind="true">
    <span slot="header">Configuration</span>
    <div slot="body">
      <div class="row">
        <div class="col">
          <form>
            <p>Changing networks is currently disabled.</p>
            <div class="row form-group">
              <div class="col col-md-3"><label class=" form-control-label">Network</label></div>
              <div class="col col-md-9">
                <div class="form-check">

                  <template repeat.for="network of networks">
                    <div class="radio">
                      <label for.bind="network" class="form-check-label">
                        <input class="form-check-input" type="radio" name="network" id.bind="network"
                          value.bind="network" checked.bind="selectedNetwork" disabled="disabled" />
                          ${network}
                      </label>
                    </div>
                  </template>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </card-item>
</template>
