<template>
  <form>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="runAdapterHttp"
        checked.bind="runHttp"/>
      <label class="form-check-label" for="runAdapterHttp">
        <h5>Run adapter with HTTP API?</h5>
      </label>
    </div>
    <h5>Choose Network</h5>
    <template repeat.for="network of networks">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="network" id.bind="network"
          value.bind="network" checked.bind="selectedNetwork" />
        <label class="form-check-label" for.bind="network">${network}</label>
      </div>
    </template>
  </form>
</template>
