<template>
  <header class="header">
    <div class="header-menu">
      <div class="col-sm-7">
        <a class="menutoggle pull-left" click.trigger="toggleNav()">
          <i class="fa fa fa-tasks"></i>
        </a>
        <div class="header-left">
          <div class="dropdown for-notification">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-bell"></i>
              <span class="count bg-danger">0</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="notification">
              <p class="red">You have 3 Notification</p>
              <a class="dropdown-item media bg-flat-color-1" href="#">
                <i class="fa fa-check"></i>
                <p>Server #1 overloaded.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="user-area dropdown float-right">
      </div>

      <div class="language-select dropdown" id="language-select">
        <a class="dropdown-toggle" href="#" id="language" aria-haspopup="true" aria-expanded="true">
          <i class="flag-icon flag-icon-us"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="language" >
          <div class="dropdown-item">
            <i class="flag-icon flag-icon-us"></i>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>
