<template>
  <require from="components/card-item"></require>
  <require from="components/display-item"></require>
  <h2>Channels</h2>

  <div class="card-deck">
    <card-item repeat.for="channel of channels">
      <span slot="header">${channel.id}</span>
      <div slot="body">
        <display-item
          label="capacity"
          value.bind="channel.capacity"></display-item>
        <display-item
          label="commit_transaction_fee"
          value.bind="channel.commit_transaction_fee"></display-item>
        <display-item
          label="commit_transaction_weight"
          value.bind="channel.commit_transaction_weight"></display-item>
        <display-item
          label="id"
          value.bind="channel.id"></display-item>
        <display-item
          label="is_active"
          value.bind="channel.is_active"></display-item>
        <display-item
          label="is_closing"
          value.bind="channel.is_closing"></display-item>
        <display-item
          label="is_opening"
          value.bind="channel.is_opening"></display-item>
        <display-item
          label="local_balance"
          value.bind="channel.local_balance"></display-item>
        <display-item
          label="partner_public_key"
          value.bind="channel.partner_public_key"></display-item>
        <display-item
          label="received"
          value.bind="channel.received"></display-item>
        <display-item
          label="remote_balance"
          value.bind="channel.remote_balance"></display-item>
        <display-item
          label="sent"
          value.bind="channel.sent"></display-item>
        <display-item
          label="transaction_id"
          value.bind="channel.transaction_id"></display-item>
        <display-item
          label="transaction_vout"
          value.bind="channel.transaction_vout"></display-item>
        <display-item
          label="transfers_count"
          value.bind="channel.transfers_count"></display-item>
        <display-item
          label="unsettled_balance"
          value.bind="channel.unsettled_balance"></display-item>
        <display-item
          label="type"
          value.bind="channel.type"></display-item>
      </div>
    </card-item>
  </div>
</template>
