<template>
  <h2>Directory List</h2>
  <button class="btn btn-primary" click.delegate="goUpOneDirectory()">Up directory</button>
  <button class="btn btn-success"
    click.delegate="selectDirectory()"
    disabled.bind="!selectedDirectory">Select directory</button>
  <ul>
    <li repeat.for="item of directoryItems">
      <input type="radio" name="directory"
        value.bind="item" checked.bind="selectedDirectory" />
      <button class="btn btn-sm btn-dark" click.delegate="chooseDir(item)">${item}</button>
    </li>
    <li>
      <input value.bind="newDirectoryName" />
      <button
        class="btn btn-primary"
        click.delegate="createNewDirectory()"
        disabled.bind="!newDirectoryName">
          Create new Directory
      </button>
    </li>
  </ul>
</template>
