<template>
  <require from="components/card-item"></require>
  <require from="./stack-details"></require>

  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input value.bind="wizardState.name"
            class="form-control" id="name" placeholder="Project name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input value.bind="wizardState.description"
            class="form-control" id="description" placeholder="Project description">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <strong>Choose a Project "stack"</strong>
      <div class="row">
        <template repeat.for="project of wizardState.skeletonProjects">
          <div class="col">
            <card-item
                is-open.bind="true"
                is-success.bind="project === wizardState.skeletonProject"
                can-toggle.bind="false"
                click.delegate="selectProject(project)">
              <span slot="header">${project.name}</span>
              <label>
                <span>${project.description}</span>
              </label>
              <stack-details
                project.bind="project"
                show-name.bind="false"
                show-description.bind="false"
                show-path.bind="false"
                slot="list-group">
              </stack-details>
            </card-item>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>
